# Python
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.venv/
venv/
env/

# Django
*.log
db.sqlite3

# Django media en local
backend/media/

# Variables d'environnement
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db